<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Web App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>SMART HOME CONTROLLER</h1>
  </header>

  <section class="card-container">
    <article class="card">
      <img src="{{ url_for('static', filename='icon_fan.png') }}" alt="Fan">
      <div class="card-content">
        <h3>FAN</h3>
        <p>You can control the speed of your fan</p>
        <form id="fan-control-form">
          <input type="text" class="card-input-field" placeholder="Speed" name="speed">
          <button type="submit">Control Fan</button>
        </form>
      </div>
    </article>

    <article class="card">
      <img src="{{ url_for('static', filename='icon_ac.png') }}" alt="Air Conditioner">
      <div class="card-content">
        <h3>AC</h3>
        <p>You can control the air conditioner</p>
        <form id="ac-control-form">
          <select name="action">
            <option value="turn_on">Turn On</option>
            <option value="turn_off">Turn Off</option>
            <option value="set_temperature">Set Temperature</option>
          </select>
          <input type="text" class="card-input-field" placeholder="Value" name="value">
          <button type="submit">Control AC</button>
        </form>
      </div>
    </article>

    <article class="card">
      <img src="{{ url_for('static', filename='icon_led.png') }}" alt="LED">
      <div class="card-content">
        <h3>LED</h3>
        <p>You can control the LED lights</p>
        <form id="led-control-form">
          <select name="action">
            <option value="turn_on">Turn On</option>
            <option value="turn_off">Turn Off</option>
            <option value="set_brightness">Set Brightness</option>
          </select>
          <input type="text" class="card-input-field" placeholder="Value" name="value">
          <button type="submit">Control LED</button>
        </form>
      </div>
    </article>

    <article class="card">
      <img src="{{ url_for('static', filename='icon_bulb.png') }}" alt="Bulb">
      <div class="card-content">
        <h3>BULB</h3>
        <p>You can control the bulb</p>
        <form id="bulb-control-form">
          <select name="action">
            <option value="turn_on">Turn On</option>
            <option value="turn_off">Turn Off</option>
            <option value="set_brightness">Set Brightness</option>
          </select>
          <input type="text" class="card-input-field" placeholder="Value" name="value">
          <button type="submit">Control Bulb</button>
        </form>
      </div>
    </article>

  </section>

  <footer>
    <p>&copy; Team KapePaste</p>
  </footer>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>